.home {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.layout {
  display: flex;
}

.sidebar {
  flex: 0.3;
}

.feed {
  flex: 0.6;
}
.widgets {
  flex: 0.3;
}

@media (max-width: 500px) {
  body {
    width: 90%;
  }

  .layout {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .feed {
    flex: 0.9;
  }

  .sidebar {
    display: flex;
    padding: 0;
    flex: 0.1;
  }
  .widgets {
    display: none;
  }
}

@media (max-width: 768px) {
  .widgets {
    display: none;
  }
}
