.tweetBox_container {
  margin-top: 20px;
  margin-left: 10px;
}
.tweetBox_text {
  background-color: var(--twitter-background);
  color: white;
}

.tweetBox_text:focus {
  outline: none;
}

.tweetBox_input {
  display: flex;
  padding: 0 20px;
}

.tweetBox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox_tweetButton {
  background-color: rgb(29, 155, 240) !important;
  height: 40px;
  width: 20%;
  border-radius: 25px !important;
  color: white !important;
  font-weight: 700;
}

.tweetBox_tweetButton:hover {
  background-color: rgba(29, 156, 240, 0.863);
}

.tweetBox_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 5rem;
  margin-right: 50px;
}

.TweetBox_utility {
  color: rgb(29, 155, 240);
  display: flex;
  justify-content: space-between;
  width: 40%;
  cursor: pointer;
}

.tweetBox_avatar {
  transform: scale(1.4);
}

.twetBox_avatar:hover {
  cursor: pointer;
}
