.sidebar_container {
  border-right: 1px solid var(--border-color) !important;
  position: sticky;
  top: 0;
  border: none;
}
.sidebar_twitter_logo {
  display: inline-block;
  transform: scale(1.5);
  cursor: pointer;
  margin-top: 10px;
  padding: 7px;
  color: var(--light-color);
  margin-left: 20px;
  margin-bottom: 6px;
}
.sidebar_tweetButtonIcon {
  display: none;
}
.sidebar_twitter_logo:hover {
  background-color: rgb(18, 18, 18);
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 6px;
}

.sidebar_tweetButton {
  background-color: rgb(29, 155, 240) !important;
  height: 52px;
  width: 70%;
  border-radius: 25px !important;
  color: white !important;
  font-weight: 700 !important;
  margin-top: 1.2rem !important;
}

.sidebar_tweetButton:hover {
  background-color: rgba(29, 156, 240, 0.863) !important;
}

.navLink {
  color: #f4f4f4;
  text-decoration: none;
}

@media (max-width: 500px) {
  .sidebar_container {
    background-color: black;
    z-index: 2;
  }
  .sidebar_withMoreOptions {
    display: none;
  }

  .sidebar_twitter_logo {
    display: none !important;
  }

  .sidebar_forMobile {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    padding-top: 0.5rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sidebar_tweetButton {
    width: 25%;
  }

  .sidebar_tweetButtonIcon {
    display: inline-block;
    transform: scale(1.5);
  }

  .sidebar_tweetButtonText {
    display: none;
  }
}
