.exploreHeading_container {
  position: relative;
  z-index: -1;
  border-bottom: 2px solid var(--border-color);
}

.exploreHeading_overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.exploreHeading_image {
  max-width: 100%;
  margin-top: 3.5rem;
}

.exploreHeading_text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;
  font-weight: bold;
}

.exploreHeading_image_overlay {
  position: relative;
}
