.explore_searchbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  max-width: 100%;
}
.explore_searchbar_avatar {
  display: none !important;
}

.explore_searchbar {
  display: flex;
  padding-left: 1.4rem;
  margin-top: 10px;
  background-color: var(--twitter-background);
  padding-bottom: 1.2rem;
  padding-right: 1.5rem;
  z-index: 100;
}

.explore_input {
  border: none;
  width: 28rem;
  height: 2.65rem;
  margin-top: 6px;
  font-size: 15px;
  background-color: rgba(39, 39, 39, 0.89);
  border-radius: 0px 20px 20px 0px;
  color: white;
}

.explore_input:focus {
  background-color: black;
  border-color: var(--twitter-background);
}

.explore_icon {
  margin-top: 6px;
  background-color: rgba(39, 39, 39, 0.89);
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
}

.explore_settings {
  padding: 8px;
  transform: scale(1.2);
  margin-left: 3px;
  margin-right: 10px;
}

.explore_settings:hover {
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(67, 73, 78);
  cursor: pointer;
  margin-left: 3px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .explore_input {
    width: 24rem;
  }
}

@media (max-width: 500px) {
  .explore_input {
    width: 24rem;
  }

  .explore_searchbar_container {
    top: 0;
    left: 0;
  }

  .explore_input {
    width: 100%;
  }

  .explore_searchbar_avatar {
    display: inline-block !important;
    margin-left: 1.2rem;
  }
}
